#wrapper {
    width: 30%;
    margin: 50px auto;
    padding: 50px;
    background: #f2d7ff;
    box-shadow: rgb(92, 94, 94);
  }
  form {
    margin: 30px auto;
  }
  .textInput {
    border: none;
    height: auto;
    margin: 2px;
    border: 1px solid #6B7363;
    font-size: 1.2em;
    padding: 5px;
    width: 95%;
    border-radius: 4px;
  }

  .displayBadge{
    margin-top: 5%; 
    display: none; 
    text-align :center;
}

  .txtDOB{
    border: none;
    height: 28px;
    margin: 2px;
    border: 1px solid #6B7363;
    font-size: 1.2em;
    padding: 5px;
    width: 95%;
    border-radius: 4px;

  }
  .textInput:focus {
    outline: none;
  }
  .btn {
    width: 98.6%;
    border: none;
    margin-top: 5px;
    color: white;
    background-color: #2c62d6;
    border-radius: 5px;
    padding: 12px;
  }

  meter {
    
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;
  
    
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

 

  meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }
